body
{
    margin: 0;
    padding: 0;
}

h1
{
    margin-top: 2em;
    text-align: center;
}

#watch 
{ 
    width: 150px; 
    height: 30px; 
    padding: 5px 10px; 
    border: 10px double rgb(255, 182, 72); 
    font: bold 1.5em dotum, "lucida sans", arial; 
    text-align: center;
    float: right; 
    margin: 1em 31em 1em 1em;
}

#text
{
    text-align: center;
}